header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

body {
    margin: 0px;
}

#photographer-focus {
    display: flex;
    flex-flow: column nowrap;
}

.photographer-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 40px 20px;
    background-color: #FAFAFA;
}

.photographer-header__img {
    margin: auto 0;
    height: 150px;
    width: 150px;
    justify-self: end;
}

.photographer__tagline {
    margin-top: 10px;
    color: #525252;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.media-container__txt-wrapper {
    color: #901C1C !important;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.media-container__media {
    cursor: pointer;
}

.media-container__video {
    object-fit: cover;
}

.media-container__img {
    margin: auto;
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.media-container__likes-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-width: 20%;
    margin: auto 0;
}

i#toggleLike {
    margin: auto;
}

#toggleLike {
    cursor: pointer;
}

.summary {
    position: fixed;
    background-color: #D3573C;
    padding: 10px 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-width: 200px;
    float: revert;
    bottom: 0;
    right: 25px;
}

.sort-section {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 0;
    position: relative;
}

.sort-section__text {
    margin-right: 20px;
}

.sort-list {
    display: none;
    position: absolute;
    left: 89px;
    cursor: pointer;
    z-index: 1;
    padding-right: 10px;
    padding-left: 10px;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 50%)
}

.sort-list i {
    margin: auto 5px;
}

.select__first-entry {
    display: flex;
    flex-flow: row nowrap;
}

.col-span-2 {
    grid-column: span 2;
    border-top: solid 1px #fff;
}

.sort-button__wrapper, .sort-list {
    background-color: #901C1C;
    color: #fff;
}

.sort-button__wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    width: fit-content;
    height: 40px;
}

.sort-button__wrapper i {
    margin: auto 5px;
}

.sort-entry {
    padding: 10px 5px;
}

#lightbox-modal {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.97);
    position: fixed;
    top: 0;
    left: 0;
    flex-flow: row nowrap;
    align-items: center;
}

.lightbox-modal__media-wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.lightbox-modal__img {
    width: 400px;
    height: 200px;
    border: solid 1px #000;
}

.lightbox-modal__video {
    object-fit: cover;
}

.lightbox-modal__arrow i {
    color: #901C1C;
    font-size: 60px;
    margin: auto 20px;
    cursor: pointer;
}

.lightbox-modal__title {
    color: #901C1C;
}

.lightbox-modal__close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 40px;
    color: #901C1C;
    cursor: pointer;
}

#contact_modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(120,120,120,0.4);
}    

#contact_modal h2 {
    color: #000;
}

.contact_button, .send_button {
    font-size: 17px;
    font-weight: bold;
    color: white;
    padding: 15px 10px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    font-family: "DM Sans", sans-serif;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    height: 83vh;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    height: 25px;
}

.modal header h2 {
    font-size: 40px;
    font-weight: normal;
    text-align: justify;
    line-height: 50px;
    margin: inherit;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 97%;
    font-size: 27px;
    border: none;
    border-radius: 5px;
    padding: 6px;
}