@import url("photographer.css");

.border-margin {
    margin: auto 50px;
}

body {
    font-family: "DM Sans", sans-serif;
    max-width: 1280px;
    margin: auto;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    gap: 50px;
}

h1 {
    color: #901C1C;
}

.logo {
    height: 50px;
}

#photographer-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

#photographer-list div {
    justify-self: center;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.artistcard__url-wrapper {
    text-decoration: none;
}

.artistcard__img {
    text-align: center;
}

.artistcard__h2 {
    text-decoration: none;
}

#photographer-list div h2, h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 5px;
    font-weight: 100;
}

#photographer-list div h3, h3 {
    color: #901C1C;
    margin: inherit;
}

#photographer-list div img, .photographer-header__img {
    border-radius: 100px;
    object-fit: cover;
    box-shadow: 0 5px 10px #ccc;
}

#photographer-list div img {
    margin: auto;
    height: 200px;
    width: 200px;
}

.artistcard__price {
    color: #999;
}